@page "/"

<h3>Inloggen</h3>

<div class="login-container">
    <form>
        <div class="form-group">
            <label for="gebruikersnaam">Gebruikersnaam</label><br />
            <input type="text" id="gebruikersnaam" name="gebruikersnaam" />
        </div>

        <div class="form-group">
            <label for="wachtwoord">Wachtwoord</label><br />
            <input type="password" id="wachtwoord" name="wachtwoord" />
        </div>

        <div class="form-group">
            <button type="submit">Inloggen</button>
        </div>
    </form>
</div>


@code {

}
