@page "/Dashboard"
@model Medewerkersportaal.Pages.DashboardModel
@{
}

<h1>Welkom op het dashboard!</h1>
<p>Je bent succesvol ingelogd.</p>

<a asp-page="/Medewerker/Index" class="btn btn-primary">Ga naar medewerkers</a>
