@{
	ViewData["Title"] = "Index";
}
<h1>Beheer omgeving</h1>

<ul>
	<li><a asp-action="EditPost" method="Post" asp-route-title="Home">Home</a></li>
	<li><a asp-action="EditPost" method="Post" asp-route-title="Faciliteiten">Faciliteiten</a></li>
	<li><a asp-action="EditPost" method="Post" asp-route-title="Contact">Contact</a></li>
</ul>