@{
	ViewData["Title"] = "Index";
}
<h1>Beheer omgeving</h1>

<ul>
	<li><a asp-action="EditPost" method="Post">Home</a></li>
	<li><a asp-action="EditPost" method="Post">Faciliteiten</a></li>
	<li><a asp-action="EditPost" method="Post">Contact</a></li>
</ul>